<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HooverGOL122022.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <HooverGOL122022.Properties.Settings>
            <setting name="GridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="x10GridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CellColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="Finite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UniverseX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UniverseY" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ShowNeighbors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Miliseconds" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="GridOn" serializeAs="String">
                <value>True</value>
            </setting>
        </HooverGOL122022.Properties.Settings>
    </userSettings>
</configuration>
